* {
    box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.game-board {
    border-collapse: collapse;
    width: 80%;
    aspect-ratio: 1/1;
}

.game-board td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 33%;
    aspect-ratio: 1/1;
}

.game-board-symbol {
    width: 100px;
}
